<div class="analysis-section">

    <div class="large-dropdown" data-dropdown-select="houseslist"
         data-dropdown-model="housename"
         data-dropdown-item-label="text">
    </div>

    <h2 class="title">Your Home with Solar</h2>

    <div class="house-image clearfix">
        <img src="i/house-image.jpg" alt="House"/>

        <div class="text">This is what your home look like with solar panels on the roof.</div>
    </div>

    <h2 class="title">Earning From Solar VS Normal Utility</h2>

    <div data-bar-chart="" data-chart='chartData' class="chart-wrapper"></div>
    <div class="box">
        <strong>$2, 207.56</strong>
        <small>in savings</small>
        <div class="foot">
            Typical 12 months production - comsumption
        </div>
    </div>

    <a href="javascript:;" class="button" data-ng-if="findVendorButton" data-ng-click="findVendors()">FIND VENDORS AND FINANCING FOR</a>
</div>